<template>
  <main id="news">
    <div class="blocks">
      <div class="title-block">
        <h1 v-translate>PeerTube news!</h1>

        <p>
          <span v-translate>Discover the latest PeerTube improvements</span>
        </p>

        <span class="icon-row">

          <a :title="getSyndicationTitle()" :href="getSyndicationLink()" target="_blank">
            <span class="sr-only">{{ getSyndicationLink() }}</span>

            <icon-RSS></icon-RSS>
          </a>

          <a :title="getMastodonTitle()" href="https://framapiaf.org/@peertube" target="_blank" class="icon-mastodon">
            <span class="sr-only">{{ getMastodonTitle() }}</span>

            <icon-mastodon></icon-mastodon>
          </a>

          <a :title="getTwitterTitle()" href="https://twitter.com/joinpeertube" target="_blank">
            <div class="sr-only">{{ getTwitterTitle() }}</div>

            <icon-twitter></icon-twitter>
          </a>
        </span>

        <div class="row pt-4 mb-4">
          <div class="rounded nl-form">
            <div class="px-5 py-4">
              <h2 class="h6 text-left">
                <icon-envelope class="mr-1 mt-n1" />
                <b>{{ getNewsletterTitle() }}</b>
              </h2>

              <form action="https://listmonk.framasoft.org/subscription/form" method="post">
                <label class="sr-only" for="nl-email">{{ getEmailTitle() }}</label>

                <input
                  id="nl-email"
                  v-model="email"
                  class="border-0 rounded my-2 px-2 py-1"
                  name="email"
                  :placeholder="getEmailTitle()"
                  required
                  size="40"
                  type="email"
                />

                <div class="text-right">
                  <button
                    class="btn btn-sm btn-secondary"
                    name="subscribe"
                    type="submit"
                    value="subscribe"
                  >
                    <translate>Subscribe</translate>
                  </button>
                </div>

                <input name="nonce" type="hidden" />
                <div style="display: none;">
                  <input id="e97e4" checked name="l" type="checkbox" value="e97e4fa6-cf8d-4741-8fcd-4f60ab81ef30" />
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="separator"></div>
      </div>

      <NewsArticles :articles="articles"></NewsArticles>

      <div class="bottom">
        <router-link to="/news-archive" class="jpt-router-link">
          <translate>See older news</translate>
        </router-link>
      </div>
    </div>
  </main>
</template>

<style lang="scss">
  @import '../scss/_variables.scss';

  #news {
    background-color: var(--light);

    .icon-mastodon {
      width: 22px;
      color: #424242 !important;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .blocks {
      margin: 60px auto;
    }

    .title-block {
      margin-bottom: 60px;

      a {
        border-bottom: none;
        font-weight: $font-semibold;
        color: #000;
      }

      p > span {
        display: block;
      }

      .icon-row {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        font-size: 130%;
      }
    }

    .bottom {
      display: flex;
      justify-content: center;
    }

    .news {
      background-color: #fff;
    }

    .nl-form {
      background: #f7ca8f;
    }
  }
</style>

<script>
  import IconEnvelope from '../components/icons/IconEnvelope'
  import IconMastodon from '../components/icons/IconMastodon'
  import IconTwitter from '../components/icons/IconTwitter'
  import IconRSS from '../components/icons/IconRSS'
  import NewsArticles from '../components/NewsArticles'

  const archiveMeta = require('../news/archives/meta.json')

  export default {
    components: {
      IconEnvelope,
      IconRSS,
      IconTwitter,
      IconMastodon,
      NewsArticles
    },

    data: function () {
      return {
        articles: [],
        email: ''
      }
    },

    mounted () {
      const archivedIds = archiveMeta.map(o => '#' + o.id)

      if (window.location.hash && archivedIds.includes(window.location.hash)) {
        this.$router.push({ path: '/news-archive', hash: window.location.hash })
        return
      }

      this.getNews()
    },

    methods: {
      getCurrentLocale () {
        return this.$language.current.toLowerCase().split('_')[0]
      },

      getNews () {
        // Keep static path in require.context so webpack knows which directory it can import
        const ctx = this.getCurrentLocale() === 'fr'
          ? require.context('../news/fr', true, /\.md$/)
          : require.context('../news/en', true, /\.md$/)

        this.articles = this.buildArticles(ctx)
      },

      getNewsletterTitle () {
        return this.$gettext('Subscribe to the newsletter')
      },

      getEmailTitle () {
        return this.$gettext('Your email')
      },

      getSyndicationLink () {
        return '/rss-' + this.getCurrentLocale() + '.xml'
      },

      getSyndicationTitle () {
        return this.$gettext('Subscribe to RSS feed')
      },

      getMastodonTitle () {
        return this.$gettext('Subscribe to our Mastodon account')
      },

      getTwitterTitle () {
        return this.$gettext('Subscribe to our Twitter account')
      },

      getMastodonTootTitle () {
        return this.$gettext('Open the Toot')
      },

      getTwitterTweetTitle () {
        return this.$gettext('Open the Tweet')
      }
    },

    metaInfo: function () {
      return {
        title: this.$gettext('PeerTube news')
      }
    }
  }
</script>
