<template>
  <svg width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <path
        d="M16.675,15.1416667 L16.5472222,14.95 C15.2694444,13.5444444 13.4805556,12.7138889 11.5638889,12.7777778 C9.64722222,12.7138889 7.79444444,13.5444444 6.51666667,14.95 L6.38888889,15.1416667 L6.38888889,19.9972222 C6.38888889,20.5722222 6.83611111,21.0833333 7.475,21.0833333 C7.475,21.0833333 7.475,21.0833333 7.475,21.0833333 L15.6527778,21.0833333 C16.2277778,21.0833333 16.7388889,20.5722222 16.7388889,19.9972222 C16.7388889,19.9972222 16.7388889,19.9972222 16.7388889,19.9972222 L16.7388889,15.1416667 L16.675,15.1416667 Z M15.3972222,19.8055556 L7.66666667,19.8055556 L7.66666667,15.5888889 C8.68888889,14.5666667 10.0944444,14.0555556 11.5638889,14.0555556 C12.9694444,13.9916667 14.375,14.5666667 15.3972222,15.5888889 L15.3972222,19.8055556 Z M6.58055556,9.00833333 C6.70833333,9.00833333 6.83611111,9.00833333 6.96388889,8.94444444 C6.96388889,8.81666667 6.96388889,8.68888889 6.96388889,8.56111111 C6.96388889,8.24166667 6.96388889,7.92222222 7.02777778,7.66666667 C6.9,7.73055556 6.70833333,7.73055556 6.58055556,7.73055556 C5.75,7.73055556 5.04722222,7.02777778 5.04722222,6.19722222 C5.04722222,5.36666667 5.75,4.66388889 6.58055556,4.66388889 C7.21944444,4.66388889 7.79444444,5.04722222 8.05,5.62222222 C8.30555556,5.30277778 8.68888889,4.98333333 9.00833333,4.72777778 C8.17777778,3.38611111 6.45277778,2.93888889 5.11111111,3.76944444 C3.76944444,4.6 3.32222222,6.325 4.15277778,7.66666667 C4.66388889,8.49722222 5.55833333,9.00833333 6.58055556,9.00833333 Z M7.66666667,11.1166667 C7.41111111,10.7333333 7.21944444,10.2861111 7.09166667,9.775 C6.9,9.775 6.77222222,9.775 6.58055556,9.775 C4.91944444,9.71111111 3.32222222,10.2861111 2.10833333,11.3083333 L1.91666667,11.5 L1.91666667,16.6111111 L3.19444444,16.6111111 L3.19444444,12.0111111 C4.21666667,11.3083333 5.36666667,10.925 6.58055556,10.9888889 C6.96388889,10.9888889 7.34722222,11.0527778 7.66666667,11.1166667 Z M14.95,5.62222222 C15.2694444,4.85555556 16.1638889,4.47222222 16.9944444,4.79166667 C17.7611111,5.11111111 18.1444444,6.00555556 17.825,6.83611111 C17.5694444,7.41111111 16.9944444,7.79444444 16.4194444,7.79444444 C16.2916667,7.79444444 16.1,7.79444444 15.9722222,7.73055556 C16.0361111,8.05 16.0361111,8.36944444 16.0361111,8.625 C16.0361111,8.75277778 16.0361111,8.88055556 16.0361111,9.00833333 C16.1638889,9.00833333 16.2916667,9.07222222 16.4194444,9.07222222 C18.0166667,9.07222222 19.2944444,7.79444444 19.2944444,6.26111111 C19.2944444,4.66388889 18.0166667,3.38611111 16.4833333,3.38611111 C15.4611111,3.38611111 14.5666667,3.89722222 14.0555556,4.79166667 C14.375,4.98333333 14.6944444,5.23888889 14.95,5.62222222 Z M20.8916667,11.3083333 C19.6777778,10.2222222 18.0805556,9.64722222 16.4194444,9.71111111 C16.2277778,9.71111111 16.1,9.71111111 15.9083333,9.71111111 C15.7805556,10.2222222 15.5888889,10.6694444 15.3333333,11.0527778 C15.7166667,10.9888889 16.0361111,10.9888889 16.4194444,10.9888889 C17.6333333,10.925 18.8472222,11.3083333 19.8055556,12.0111111 L19.8055556,16.6111111 L21.0833333,16.6111111 L21.0833333,11.5 L20.8916667,11.3083333 Z M11.4361111,11.6916667 C13.1611111,11.6916667 14.5027778,10.2861111 14.5027778,8.56111111 C14.5027778,6.83611111 13.0972222,5.49444444 11.3722222,5.49444444 C9.64722222,5.49444444 8.30555556,6.9 8.30555556,8.56111111 C8.30555556,10.2861111 9.71111111,11.6916667 11.4361111,11.6916667 Z M11.3722222,6.77222222 C11.4361111,6.77222222 11.4361111,6.77222222 11.3722222,6.77222222 C12.3944444,6.77222222 13.225,7.60277778 13.225,8.625 C13.225,9.64722222 12.3944444,10.4138889 11.3722222,10.4138889 C10.35,10.4138889 9.58333333,9.58333333 9.58333333,8.625 C9.58333333,7.60277778 10.4138889,6.77222222 11.3722222,6.77222222 Z"
        :id="follower"></path>
    </defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <mask :id="mask" fill="white">
        <use :xlink:href="'#' + follower"></use>
      </mask>
      <use fill="#000000" fill-rule="nonzero" :xlink:href="'#' + follower"></use>
      <g :mask="'url(#' + mask + ')'" fill="#868686">
        <g transform="translate(-0.000000, 0.000000)">
          <rect x="0" y="0" width="23" height="23"></rect>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
  export default {
    data () {
      return {
        follower: Math.random(),
        mask: Math.random()
      }
    }
  }
</script>
