<template>
  <svg width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <path
        d="M18.5277778,0 L7.66666667,0 C6.6081209,0 5.75,0.858120896 5.75,1.91666667 L5.75,9.58333333 C5.75,10.6418791 6.6081209,11.5 7.66666667,11.5 L16.3236111,11.5 L19.3775,13.8702778 C19.5623174,14.0069208 19.8062885,14.0337576 20.0163889,13.9405556 C20.2382646,13.8348816 20.3798599,13.6113102 20.3805559,13.3655556 L20.3805559,1.91666667 C20.3811302,0.8825773 19.5612927,0.0344694912 18.5277778,0 Z M19.1666667,12.1005556 L16.9305556,10.3563889 C16.8190376,10.2698401 16.6819955,10.2226617 16.5408333,10.2222222 L7.66666667,10.2222222 C7.31381808,10.2222222 7.02777778,9.93618192 7.02777778,9.58333333 L7.02777778,1.91666667 C7.02777778,1.56381808 7.31381808,1.27777778 7.66666667,1.27777778 L18.5277778,1.27777778 C18.8811722,1.30985178 19.1552157,1.60033787 19.1666667,1.955 L19.1666667,12.1005556 Z M13.4166667,14.0555556 L13.4166667,13.4166667 L14.6944444,13.4166667 L14.6944444,14.1386111 C14.7123355,14.627945 14.526684,15.1028213 14.1816543,15.4502723 C13.8366246,15.7977232 13.3630581,15.986691 12.8736111,15.9722222 L4.28694444,15.9722222 L0.996666667,18.3936111 C0.810649053,18.5281453 0.566752307,18.552535 0.357777778,18.4575 C0.140449868,18.3510235 0.00193934525,18.1308907 0,17.8888889 L0,6.38888889 C0,5.33034312 0.858120896,4.47222222 1.91666667,4.47222222 L4.38277778,4.47222222 L4.38277778,5.75 L1.91666667,5.75 C1.56381808,5.75 1.27777778,6.0360403 1.27777778,6.38888889 L1.27777778,16.6111111 L3.44361111,14.9052778 C3.55861111,14.8222222 3.69277778,14.6944444 3.83333333,14.6944444 L12.7777778,14.6944444 C13.1306264,14.6944444 13.4166667,14.4084041 13.4166667,14.0555556 Z"
        :id="language"></path>
    </defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(1.000000, 2.000000)">
        <g transform="translate(0.277778, 0.555556)">
          <mask :id="mask" fill="white">
            <use :xlink:href="'#' + language"></use>
          </mask>
          <use fill="#000000" fill-rule="nonzero" :xlink:href="'#' + language"></use>
          <g :mask="'url(#' + mask + ')'" fill="#868686">
            <g transform="translate(-1.277778, -2.555556)">
              <rect x="0" y="0" width="23" height="23"></rect>
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
  export default {
    data () {
      return {
        language: Math.random(),
        mask: Math.random()
      }
    }
  }
</script>
